<html>
    <head>
        <title>Double Damage raaaa</title>
        <style>
            .hidden {
                display: none
            }

        </style>
    </head>
    <body>

        <form id="form">
            <input type="text" id="dzname" name="dzname"/>
            <input type="text" id="dzEmail" name="dzEmail"/>
            <input type="number" id="dzOther_phone" name="dzOther_phone"/>
            <input type="text" id="dzOther_sex" name="dzOther_sex"/>
            <input type="text" id="dzMessage" name="dzMessage"/>
            <input type="submit" value="Crear"/>
        </form>
        <div id="error" class="hidden">Ocurrió un error!</div>
        <ul id="usuarios_ingresados">
            {% for d in data %}
            <li>{{d.description}}</li>
            {% endfor %}
        </ul>

        <script>
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault(); // previene que la pagina se refresque
                fetch('/usuarios_nuevos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'dzname': document.getElementById('dzname').value,
                        'dzEmail': document.getElementById('dzEmail').value,
                        'dzOther_phone': document.getElementById('dzOther_phone').value,
                        'dzOther_sex': document.getElementById('dzOther_sex').value,
                        'dzMessage': document.getElementById('dzMessage').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse) {
                    document.getElementById('error').className = 'hidden';
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['dzname'];
                    document.getElementById('usuarios_ingresados').appendChild(liItem);
                         document.createElement('LI');
                    liItem.innerHTML = jsonResponse['dzEmail'];
                    document.getElementById('usuarios_ingresados').appendChild(liItem2);
                    const liItem3 = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['dzOther_phone'];
                    document.getElementById('usuarios_ingresados').appendChild(liItem3);
                    const liItem4 = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['dzOther_sex'];
                    document.getElementById('usuarios_ingresados').appendChild(liItem4);
                    const liItem5 = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['dzMessage'];
                    document.getElementById('usuarios_ingresados').appendChild(liItem5);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function(error) {
                    document.getElementById('error').className = '';
                });
            }
        </script>


    </body>

</html>
